<!DOCTYPE html>
<html>

<head>
    <title>Employee Database System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
    <link href="../libs/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/design.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/jquery.dataTables.min.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/dataTables.bootstrap4.min.js"></script>
</head>

<body>
    <nav class="py-2 navbar navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand text-white" href="/"><b>Employee DB System</b></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/employee/new"><b>Add new Employee</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/employee/search"><b>Search</b></a>
                </li>
            </ul>
        </div>
    </nav>